<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
            type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="STSH_OCR.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
        </sectionGroup>
        <section name="oracle.manageddataaccess.client"
            type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite"
          type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
          type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data><applicationSettings>
        <STSH_OCR.Properties.Settings>
            <setting name="DB_File" serializeAs="String">
                <value>C:\STSH_OCR\DB\STSH_OCR.db3</value>
            </setting>
            <setting name="商品マスター" serializeAs="String">
                <value>C:\STSH_OCR\MST\syohinmst.csv</value>
            </setting>
            <setting name="得意先マスター" serializeAs="String">
                <value>C:\STSH_OCR\MST\tokuisakimst.csv</value>
            </setting>
            <setting name="商品在庫マスター" serializeAs="String">
                <value>C:\STSH_OCR\MST\syohinzaiko.csv</value>
            </setting>
            <setting name="仕入先マスター" serializeAs="String">
                <value>C:\STSH_OCR\MST\Shiiresaki.csv</value>
            </setting>
            <setting name="FAX注文書" serializeAs="String">
                <value>C:\STSH_OCR\XLS\FAX注文書.xlsx</value>
            </setting>
            <setting name="FaxRootDirectory" serializeAs="String">
                <value>c:\STSH_OCR\FaxRoot\</value>
            </setting>
            <setting name="MyDataPath" serializeAs="String">
                <value>C:\STSH_CLI\DATA\</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value>c:\STSH_OCR\DATA\</value>
            </setting>
            <setting name="lockFileName" serializeAs="String">
                <value>PC1</value>
            </setting>
            <setting name="Local_DB" serializeAs="String">
                <value>C:\STSH_CLI\DB\STSH_CLI.db3</value>
            </setting>
            <setting name="HoldTifPath" serializeAs="String">
                <value>C:\STSH_OCR\Hold_Tiff\</value>
            </setting>
            <setting name="TifPath" serializeAs="String">
                <value>C:\STSH_OCR\TIF\</value>
            </setting>
            <setting name="NgPath" serializeAs="String">
                <value>C:\STSH_OCR\OCRERROR</value>
            </setting>
            <setting name="ReFAXTempXlsx" serializeAs="String">
                <value>C:\STSH_OCR\XLS\ReFAX.xlsx</value>
            </setting>
            <setting name="ReFaxSaveFile" serializeAs="String">
                <value>C:\STSH_OCR\XLS\返信FAX.xlsx</value>
            </setting>
        </STSH_OCR.Properties.Settings>
    </applicationSettings>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<publisherPolicy apply="no"/>
<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="xepdb1" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=xepdb1))) "/>
</dataSources>
</version>
</oracle.manageddataaccess.client>

  <connectionStrings>
    <add name="OracleDbContext" connectionString="User Id=sys;Password=oRa_1103;DBA Privilege=SYSDBA;Data Source=xepdb1" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
</configuration>